* {
  margin: 0;
  padding: 0;
  
  text-decoration: none;
}
h1{
    font-size: 25px;
    padding-top: 15px;
}
.link{
  display: block;
  height: 240px;
  
}
.header {
  background: black;
  padding: 20px;
}

.body {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* Menu */
.menu {
  position: relative;
  background: rgb(152, 239, 152);
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 5px 20px;
  flex-direction: row;
  justify-content: space-between;
}

.menu__logo_image {
  height: 40px;
  width: 40px;
  padding-left: 2px;
}

.menu__logo_text {
  color: black;
  padding-top: 1px;
  font-size: 35px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.menu__logo {
  padding-left: 5px;
  display: flex;
  cursor: pointer;
}


.menu__search_block{
  display: flex;
  flex-direction: column;

}

.menu__search{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 110px;
  width: 600px;
  height: 50px;
}

.menu__search_input{
  width: 550px;
  height: 40px;
  font-size: 20px;
  padding-right: 50px;
}

.menu__search_logo{
  position: absolute;
  cursor: pointer;
  height: 40px;
  margin-left: 550px;
  
}

.menu__search_display{
  padding: 0px 2px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
  width: 600px;
  max-height: 600px;
  margin-left: 110px;
  background: #fff;
  font-size: 17px;
  z-index: 1;

}

.menu__search_display_invise{
  display: none;
}

.menu__search_display_item{
  color: black;

  margin-top: 5px;
  cursor: pointer;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  background: rgb(214, 213, 213);

  
  
}

.menu__basket{

  padding-right: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  cursor: pointer;
  
}





@media only screen and (max-width:1096px ){
  .menu__search{
   width: 500px;
  }
  .menu__search_logo{
    margin-left: 458px;
  }

}

@media only screen and (max-width:996px ){
  .menu__search{
   width: 400px;
  }
  .menu__search_logo{
    margin-left: 355px;
  }

}

@media only screen and (max-width:900px ){
  .menu__search{
   width: 300px;
  }
  .menu__search_logo{
    margin-left: 255px;
  }

}

@media only screen and (max-width:796px ){
  .menu__search{
   width: 200px;
   margin-left: 0px;
  }
  .menu__search_logo{
    margin-left: 225px;
  }
  .menu__search_block{
    width: 300px;
  }

  .card-footer{
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:718px ){
  .menu__search{
   width: 200px;
   margin-left: 0px;
  }
  .menu__search_logo{
    margin-left: 225px;
  }
  .menu__logo_text{
    display: none;
   }
   .menu__logo_image{
    height: 50px;
    width: 50px;
   }
   .card-footer{
    margin-bottom: 20px;
  }

}

@media only screen and (max-width:628px ){
  .menu__search{
   width: 100px;
  }
  .menu__search_logo{
    margin-left: 225px;
  }

  .menu__basket{
    padding-left: 160px;
  }


}

@media only screen and (max-width:570px ){
  .menu{
   padding: 5px 0.1px;
  }
}



.menu__basket_image_around{
  display: flex;
  justify-content: center;

  background: white;
  width: 50px;
  height: 50px;
  
  border: 2px solid black;
  border-radius: 60px;
  transition: transform .2s ease-in-out;
}

.menu__basket_image{
  height: 45px;
  width: 45px;
  padding: 2px;
}



.menu__basket_image_around:hover{
  transform: rotate(360deg);
}

.menu__basket_text{
  color: black;

  padding-right: 5px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

@media only screen and (max-width:1142px ){
  .menu__basket{
    width: 90px;
    justify-content: flex-end;
  }
  .menu__basket_image{
    height: 30px;
    width: 30px;
   }
   .menu__basket_image_around{
     height: 36px;
     width: 36px;
   }
   .menu__basket_text{
     font-size: 22px;
   }
  
}
@media only screen and (max-width:530px ){
  .menu__search{
   width: 100px;
   height: 30px;
  }
  .menu__search_logo{
    margin-left: 225px;
  }

  .menu__basket_image{
    display: none;
  }
  .menu__basket_image_around{
    display: none;
  }


}
@media only screen and (max-width:476px ){

  .menu__basket_text{
    font-size: 25px;
  }
  .menu__basket{
    width: 100px;
  }
}

@media only screen and (max-width:454px ){

  .menu__basket_text{
    font-size: 20px;
  }
  .menu__basket{
    width: 55px;
  }
  .menu__search_input{
    width: 180px;
  }
  .menu__search_logo{
    margin-left: 190px ;
  }

}
@media only screen and (max-width:410px ){
  .menu__basket{
    width: 30px;
  }
  .menu__search_input {
    width: 154px;
  }
  .menu__search_logo{
    margin-left: 165px ;
  }
}

@media only screen and (max-width:382px ){

.menu__search_input{
  width: 130px;
  height: 30px;
}
.menu__search_logo{
  margin-left: 157px;
  height: 22px;
  width: 22px;
}
.menu__basket{
  width: 15px;
}

}

@media only screen and (max-width:368px ){

  
  .menu__basket{
    width: 6px;
  }
  
  }

/* Catalog */
.catalog {
  width: 1200px;
  height: 100%;
  
}

.catalog__head {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  padding: 15px 0px;
  background: rgb(211, 202, 202);
  justify-content: center;
}

.catalog__head_category {
  background: rgb(255, 255, 255);
  padding: 10px;
  text-align: center;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-radius: 20px;
}

.catalog__body {
  justify-content: center;
  border-left: 1px solid black;
  background: rgb(211, 202, 202);
  display: grid;
  grid-template-columns: repeat(4, 287px);
  height: 100%;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
}

@media only screen and (max-width: 1346px) {
  .catalog__body {
    
    grid-template-columns: repeat(3, 287px);
    
  }
  .catalog{
    width: 1120px;
  }
  .categories{
    z-index: 2;
    
  }
}
@media only screen and (max-width: 1268px) {
  
  .catalog{
    width: 1000px;
  }

}
@media only screen and (max-width: 1146px) {
  
  .catalog{
    width: 900px;
  }

}
@media only screen and (max-width: 1040px) {
  .catalog__body {
    
    grid-template-columns: repeat(2, 287px);
    
  }
  .catalog{
    width: 750px;
  }
}

@media only screen and (max-width: 900px) {
  
  .catalog{
    width: 650px;
  }
}

@media only screen and (max-width: 798px) {
  
  .catalog{
    width: 590px;
  }
}


@media only screen and (max-width: 736px) {
  .catalog__body {
    
    grid-template-columns: repeat(1, 287px);
  }
  .catalog{
    width: 500px;
  }
}


@media only screen and (max-width: 646px) {
  
  .catalog{
    width: 400px;
  }
}

@media only screen and (max-width: 548px) {
  
  .catalog{
    width: 370px;
  }
}

@media only screen and (max-width: 514px) {
  
  .catalog{
    width: 340px;
  }
}


@media only screen and (max-width: 480px) {
  
  .catalog{
    width: 300px;
  }
}
@media only screen and (max-width: 444px) {
  .catalog__body {
    
    grid-template-columns: repeat(1, 287px);
  }
  .catalog{
    width: 265px;
  }
  .card{
    width: 240px;
    height: 270px;
  }
}



.catalog__body_block {
  
  background: #fff;
  width: 280px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform .2s linear;
  cursor: pointer;
}

.catalog__body_block:hover{
  transform: translate3d(0,-3px,0);
  box-shadow: 0 5px 5px black;
}

.catalog_item_image{
  width: 100%;
  height: 100%;
}

.catalog_item_name{
  
  background: #fff;
  text-align:center;
  height: 100%;
  max-height: 50px;
  padding: 0px 2px;
}

.catalog_item_name_text{
  text-decoration: none;
  font-size: 16px;
}

.catalog_item_price{
  color: rgb(252, 60, 60);
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  max-height: 20px;
  padding-bottom: 2px;
  padding-right: 10px;

}

.catalog_item_add{
  display: none;
  position: relative;
  text-align: center;
  margin-top: 190px;
  padding: 10px ;
  background: #fff;
  height: 20px;
  font-size: 20px;
  font-weight: bold;
  transition: box-shadow .2s linear;

}

.catalog__body_block:hover .catalog_item_add{
  display: flex;
  position: absolute;
  justify-content: center;
  top: 120px;
  width: 260px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 5px 5px black;
}

/* Categories */
.categories{
    display: flex;
    width: 100%;
    height: 100%;
    min-width: 153px;
    justify-content: center;
}

.categories__items{
    align-items: center;
    padding-top: 20px;
}

.categories__items_item {
  color: #18272F;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.categories__items_item::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #18272F;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.categories__items_item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}



/* ItemPage */
.item__body{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.item__body_image{
  padding: 50px;
  height: 500px;
  width: 560px;
}
.item__body_image_block{
  display: flex;
  flex-direction: row;
}
.item__body_subcontent{
  display: flex;
  padding: 10px;
  flex-direction: column;

}
.item__body_subcontent_price{
  padding-bottom: 10px;
}
.item__body_subcontent_description{
  font-size: 20px;
}
.item__body_subcontent_name{
  font-size: 25px;
}

.item__body_basketButtonBlock{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0px;
  width: 690px;
  height: 40px;
}

.item__body_basketButton{
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.item__body_basketButton:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.item__body_basketButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.item__body_basketButton:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.item__body_image_changeForward{
  display: flex;
  height: 500px;
  margin-right: 30px;
}

.item__body_image_changeForward_button{
  width: 25px;
  transition: box-shadow .1s linear;
}

.item__body_image_changeForward_button:hover{
  box-shadow: 0 5px 5px black;
}

.item__body_image_changeBackward{
  display: flex;
  height: 500px;
  margin-left: 30px;
}

.item__body_image_changeBackward_button{
  width: 25px;
  transition: box-shadow .1s linear;
}

.item__body_image_changeBackward_button:hover{
  box-shadow: 0 5px 5px black;
}


/* BasketPage */

.basket_background{
  margin: 0;
  background: #36395A;
  background-size: cover;
  min-height: 100%;
  padding: 20px;
}
.basket__body{
  padding: 70px;
  min-height: 100vh;
  background: rgb(81, 144, 200);
}

.basket__body_content{
  
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 50px;
  border-radius: 10px;
  background: rgb(215, 214, 214);

}

.basket__item_body{
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  width: 1100px;
  height: 100%;

  max-height: 100px;
  margin-top: 10px;

  transition: transform .2s linear;

}

.basket__item_link{

  display: flex;
  align-items: center;

}

.basket__item_body:hover{
  transform: translate3d(0px, -3px, 0px);

}

.basket__item_body_images{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;

}

.basket__item_image{
  height: 100%;
  width: 100%;
  max-height: 150px;
  max-width: 150px;

}

.basket__item_info{
  color: black;

  display: flex;
  flex-direction: column;
  padding-left: 100px;
  font-size: 20px;
}

.basket__item_info_name{
  background: rgb(164, 212, 91);
  width: 100%;
  max-width: 269px;
}

.basket__item_cross{

  display: flex;
  width: 30px;
  height: 30px;
  transition: transform .3s linear;
}

.basket__item_cross:hover{
  transform: rotate(360deg);
}

.basket__item_cross_link{
  display: flex;
  width: 30px;
}

.basket__item_AppendReduse{
  display: flex;
  flex-direction: column;
  align-items: center;


}

.basket__item_AppendReduse_plus_bkgr{
  display: flex;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  background: rgb(103, 185, 185);
 

}

.basket__item_AppendReduse_plus{
  height: 45px;
  width: 45px;
  transition: background .1s linear;

}

.basket__item_AppendReduse_plus:hover{
  background: white;

}

.basket__item_AppendReduse_minus_bkgr{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  background: rgb(185, 103, 103);

}

.basket__item_minus_link{
  display: flex;
  justify-content: center;
  width: 30px;
}

.basket__item_AppendReduse_minus{
  height: 45px;
  width: 45px;
  transition: background .1s linear;

}

.basket__item_AppendReduse_minus:hover{

  background: white;
}



/**/
.card {
  width: 248px;
  height: 275px;
  padding-bottom: 45px;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }


 
 .card-img {
  background-color: #ffcaa6;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  transition: .3s ease;
  
 }
 
 .card-info {
  padding-top: 10%;
  
 }
 
 svg {
  width: 25px;
  height: 25px;
 }
 
 .card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
 }
 
 /*Text*/
 .text-title {
  font-weight: 900;
  font-size: 1.15em;
  line-height: 1.5;
  padding: 0px 3px;
 }

 .text-title-price{
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  padding: 3px;
  color: #E64848;
 }

 @media only screen and (max-width: 737px) {
  .card{
    padding-bottom: 100px;
  }
 }


 @media only screen and (max-width: 406px) {
  .catalog__body {
    grid-template-columns: repeat(1, 270px);
  }
  .catalog{
    width: 265px;
  }
  .card{
    width: 230px;
    height: 210px;
    padding-bottom: 155px;
  }
  .text-title{
    font-size: 1.10em;
  }
  .categories__items_item{
    font-size: 20px;
    margin-left: 20px;
  }
}


@media only screen and (max-width: 382px) {
  
  .categories__items_item{
    
    margin-left: 30px;
  }
  .catalog{
    
    width: 255px;
  }
  .menu__logo{
    width: 100px;
  }
  .menu__logo_image{
    width: 50px;
    height: 50px;
  }

}


@media only screen and (max-width: 364px) {
  
  .categories__items_item{
    
    margin-left: 50px;
  }
  .catalog{
    
    width: 255px;
  }
  .card{
    width: 230px;
    height: 200px;
    padding-bottom: 165px;
  }
}
 
 .text-body {
  font-size: .9em;
  padding-bottom: 10px;
  padding: 2px;
 }
 
 /*Button*/
 .card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 50px;
  transition: .3s ease-in-out;
 }
 
 /*Hover*/
 .card-img:hover {
  transform: translateY(-13px);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
 }
 
 .card-button:hover {
  
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
 }
 

 @media only screen and (max-width: 1410px) {
  
  .basket__item_body{
    padding: 8px;
  }
  .basket__item_body_images{
    width: 500px;
  }
  .basket__item_image{
    max-height: 117px;
  max-width: 121px;

  }

}


@media only screen and (max-width: 1360px) {
  
  .basket__item_body{
    width: 1000px;
  }


}
@media only screen and (max-width: 1252px) {
  .basket__item_body{
    width: 900px;
    padding: 5px;
  }
  .basket__item_info{
    padding-left: 40px;
  }
  .basket__item_image{
    height: 100px;
    width: 100px;
  }
  .basket__item_body_images{
    width: 425px;
  }
}
@media only screen and (max-width: 1146px) {
  .basket__item_body{
    width: 800px;
  }
  .basket__item_info_name{
    max-width: 223px;
  }
}
@media only screen and (max-width: 1052px) {
  .basket__item_body_images {
    width: 350px;
  }
  .basket__item_body {
    width: 728px;
  }
}
@media only screen and (max-width: 974px) {
  .basket__item_body_images {
    width: 350px;
  }
  .basket__item_body {
    width: 676px;
  }
  .basket__item_info {
    font-size: 15px;
  }
  .basket__item_info_name {
    max-width: 199px;
  }
  .basket__item_AppendReduse_minus_bkgr{
    width: 30px;
    height: 30px;
  }
  .basket__item_AppendReduse_plus_bkgr{
    width: 30px;
    height: 30px;
  }
  .basket__item_AppendReduse_plus {
    height: 30px;
    width: 30px;
  }
  .basket__item_AppendReduse_minus {
    height: 30px;
    width: 30px;
  }
  .basket__item_cross{
    width: 20px;
    height: 20px;
  }
  
}
@media only screen and (max-width: 920px) {
  .basket__item_body {
    width: 576px;
  }
  .basket__item_info {
    padding-left: 7px;
  }
  .basket__item_body_images {
    width: 300px;
  }
  .basket__item_image {
    height: 85px;
    width: 85px;
  }
}
@media only screen and (max-width: 836px) {
  .basket__body_content{
    padding: 30px;
  }
}

@media only screen and (max-width: 802px) {
  .basket__body_content{
    padding: 10px;
    width: 600px;
    max-height: 100px;
  }
  .basket__body{
    display: flex;
    padding: 17px;
    justify-content: center;
  }
}
@media only screen and (max-width: 660px) {
  
  .basket_background{
    padding: 12px;
  }
}
@media only screen and (max-width: 638px) {
  
  .basket__item_body_images {
    width: 264px;
  }
  .basket__item_link{
   flex-direction: column;
   padding: 5px;
  }
  .basket__body_content{
    max-height: 220px;
    width: 400px;
  }
  .basket__item_info{
    padding-top: 20px;
    padding-right: 60px;
  }
  .basket__item_body{
    
    max-height: 220px;
    width: 390px;
  }
  .basket__item_AppendReduse {

    flex-direction: row;

  }
}
@media only screen and (max-width: 460px) {
  
  .basket__item_image {
    height: 70px;
    width: 70px;
  }
  .basket__item_body_images {
    width: 226px;
    margin-right: 40px;
  }
  .basket__item_body{
    
    max-height: 220px;
    width: 320px;
  }
  .basket__body_content{
    max-height: 220px;
    width: 330px;
  }
  .basket__item_link{
    width: 210px;
  }
  .basket__item_body_images {
    width: 189px;
    margin-right: 0px;
    margin-left: -12px;
  }
  .basket__item_image {
    height: 60px;
    width: 60px;
  }
}
@media only screen and (max-width: 380px) {
  
  .basket__item_link {
    width: 186px;
  }
  .basket__item_body_images {
    
    margin-left: 12px;
  }
  .basket__item_body{
    
    
    width: 280px;
  }
  .basket__body_content{
    
    width: 293px;
  }
}

@media only screen and (max-width: 1474px) {
  
  .item__body_subcontent {
    width: 480px;
    padding: 0px;

  }
}
@media only screen and (max-width: 1280px) {
  
  .item__body_image {
    height: 400px;
    width: 400px;
  }
}

@media only screen and (max-width: 1114px) {
  
  .item__body_image {
    height: 350px;
    width: 350px;
  }
  .item__body_image_changeBackward {

    height: 360px;

  }
  .item__body_image_changeForward {

    height: 360px;

  }
}

@media only screen and (max-width: 1058px) {
  
  .item__body_subcontent {
    width: 380px;
    

  }
}

@media only screen and (max-width: 932px) {
  
  .item__body_subcontent {
    width: 300px;
    
  }
}
@media only screen and (max-width: 876px) {
  .item__body_image {
    height: 300px;
    width: 300px;
  }
  .item__body_image_changeBackward {

    height: 300px;

  }
  .item__body_image_changeForward {

    height: 300px;

  }
}
@media only screen and (max-width: 828px) {
  .item__body_image {
    height: 250px;
    width: 250px;
  }
  .item__body_image_changeBackward {

    height: 250px;

  }
  .item__body_image_changeForward {

    height: 250px;

  }
}
@media only screen and (max-width: 774px) {
  .item__body_subcontent_description{
    font-size: 15px;
  }
  .item__body_subcontent_name{
    font-size: 20px;
  }
  .item__body_subcontent_price{
    font-size: 22px;
  }
  .item__body_subcontent{
    width: 250px;
  }
}
@media only screen and (max-width: 734px) {
  .item__body{
    flex-direction: column;
  
  }
  .item__body_image_block{
    width: 500px;
    justify-content: center;
  }
  .item__body_image {
    height: 350px;
    width: 350px;
  }
  .item__body_image_changeBackward {

    height: 400px;

  }
  .item__body_image_changeForward {

    height: 400px;

  }
  .item__body_subcontent {
    width: 400px;
    padding-right: 250px;
  }
}
@media only screen and (max-width: 652px) {
  
  .item__body_subcontent{
    padding-right: 200px;
  }
}
@media only screen and (max-width: 604px) {
  
  .item__body_subcontent{
    padding-right: 180px;
  }
}
@media only screen and (max-width: 580px) {
  
  .item__body_subcontent{
    padding-right: 160px;
  }
}
@media only screen and (max-width: 562px) {
  
  .item__body_subcontent{
    padding-right: 100px;
  }
}
@media only screen and (max-width: 510px) {
  
  .item__body_image {
    height: 270px;
    width: 270px;
  }
  .item__body_image_changeBackward {

    height: 350px;

  }
  .item__body_image_changeForward {

    height: 350px;

  }
  .item__body_subcontent{
    padding-right: 70px;
  }
}
@media only screen and (max-width: 472px) {
  
  .item__body_subcontent{
    padding-right: 40px;
  }
}
@media only screen and (max-width: 442px) {
  
  .item__body_subcontent{
    padding-right: 10px;
  }
}
@media only screen and (max-width: 432px) {
  .item__body_image {
    height: 220px;
    width: 220px;
  }
  .item__body_image_changeBackward {

    height: 280px;

  }
  .item__body_image_changeForward {

    height: 280px;

  }
  .item__body_subcontent{
    padding-right: 10px;
  }
}
@media only screen and (max-width: 410px) {
  
  .item__body_subcontent{
    padding-right: 0px;
  }
  .item__body_subcontent {
    width: 300px;
  }
}
@media only screen and (max-width: 380px) {
  
  .item__body_image {
    height: 180px;
    width: 180px;
  }
  .item__body_image_changeBackward {

    height: 240px;

  }
  .item__body_image_changeForward {

    height: 240px;

  }
}






