.item__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1%;
}

.item__body_image {
  padding: 5%;
  height: 100%;
  width: 100%;
}
.item__body_image_block {
  display: flex;
  flex-direction: row;
  left: 0.2%;
  height: 45%;
  width: 55%;
}
.item__body_subcontent {
  display: flex;
  text-align: right;
  padding: 1em;
  width: 45%;
  flex-direction: column;
}

.item__body_subcontent_price {
  padding-bottom: 1%;
  font-size: 2em;
  color: #e64848;
}
.item__body_subcontent_description {
  font-size: 1.3em;
}
.item__body_subcontent_name {
  font-size: 2em;
}

.item__body_basketButtonBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5% 0;
  height: 30%;
}

.item__body_basketButton {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 2.5em;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.item__body_basketButton:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.item__body_basketButton:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.item__body_basketButton:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

.item__body_image_changeForward {
  display: flex;

}

.item__body_image_changeForward_button {
  width: 1.9em;
  height: 90%;
  transition: box-shadow 0.1s linear;
}

.item__body_image_changeForward_button:hover {
  box-shadow: 0 5px 5px black;
}

.item__body_image_changeBackward {
  display: flex;
}

.item__body_image_changeBackward_button {
  height: 90%;
  width: 1.9em;
  transition: box-shadow 0.1s linear;
}

.item__body_image_changeBackward_button:hover {
  box-shadow: 0 5px 5px black;
}
