.logotype_logo {
  padding-left: 5px;
  display: flex;
  cursor: pointer;
  width: 12%;
  align-items: center;
}
.logotype_text {
  color: black;
  padding-top: 1px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.logotype_image {
  width: 28%;
  padding-left: 2px;
}
